.App {
  text-align: center;
}

.App ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.App-logo {
  animation: spin infinite 3s ease-in-out;
  animation-direction: alternate;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from { transform: rotate(-15deg); }
  to { transform: rotate(15deg); }
}
